*
!/.gitmodules
!/.gitignore
!/build.bash
!/index.js
!/placeholders.c
!/public
!/public/index.js
!/public/index.data
!/public/index.wasm
!/public/index.html
!/public/examples
!/public/examples/*
!/v
!/v/**/*
!/vc
!/vc/**/*
!/readme.md
